.rt-tbody {
    overflow: visible !important;
}

.sticky {
    position: sticky !important;
    left: 0;
    top: 0;
    z-index: 1;
}

.sticky:nth-of-type(2) {
    left: 230px;
}

.sticky:nth-of-type(3) {
    left: 280px;
}

.rt-thead .sticky {
    background-color: white;
}

.rt-tr.-odd .sticky {
    background-color: rgb(247 247 247);

}

.rt-tr.-even .sticky {
    background-color: white;
}